<!DOCTYPE html>
<html>
<head>
  <title>WebAudioWeekly</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1>Web Audio Weekly</h1>
	<p>A free, weekly email of news and articles on what's happening with audio technologies on the web.<p>
	<%= yield %>
</body>
</html>
